# pycharm
.idea

# python
venv

# openpose and tf-openpose repositories
algorithms_files/*
openpose_models
!algorithms_files/.gitkeep

# static files
*.jpg
*.jpeg
*.png
*.gif
*.json
*.mkv

# log files
*.log*

